:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #efe6da;
  color: #1f1a16;
  font-family: "Avenir Next", "Futura", "Gill Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
select,
textarea {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
